doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 내 정보 변경 | 배민상회
    link(rel="stylesheet" href="/styles/common/globalstyle.css")
    link(rel="stylesheet" href="/styles/change-info.css")
    script(src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js")
  body 
    main.welcome-main 
      .welcome-container
        h1.title-text 개인정보 변경
        .input-container 
          a.go-back(href="/welcome")
            i.icon chevron_left 뒤로가기
          .essential 
            .input-wrapper.id 
              .input-icon.id 
                i.icon tag 
              input.input-text(
                placeholder= "새로운 아이디"
                type="text"
                name="userId"
                spellcheck="false"
                autocomplete="off"
                value= `${currentUser.userId}`
              )
              .check 
                i.icon checkmark_alt_circle_fill 
              .msg-field 
                span.msg-text 
            .input-wrapper.pw 
              .input-icon.pw 
                i.icon lock 
              input.input-text(
                placeholder="새로운 비밀번호"
                type="password"
                name="password"
                value=`${currentUser.password}`
              )
              .check 
                i.icon checkmark_alt_circle_fill 
              .msg-field 
                span.msg-text 
            .input-wrapper.email
              .input-icon.email
                i.icon envelope 
              input.input-text(
                placeholder="새로운 이메일"
                type="email"
                name="email"
                value=`${currentUser.email}`

              )
              .check 
                i.icon checkmark_alt_circle_fill 
              .msg-field 
                span.msg-text
            .input-wrapper.name
              .input-icon.name
                i.icon person
              input.input-text(
                placeholder="새로운 이름"
                type="text"
                name="name"
                spellcheck="false"
                value=`${currentUser.name}`
              )
              .check 
                i.icon checkmark_alt_circle_fill 
              .msg-field 
                span.msg-text
            .input-wrapper.phone 
              .input-icon.phone 
                i.icon phone
              input.input-text(
                placeholder="새로운 전화번호"
                type="tel"
                name="phone"
                value=`${currentUser.phone}`
              )
              button.action 인증받기
              .msg-field 
                span.msg-text
          .optional
            .input-wrapper.address
              .input-icon.address 
                i.icon house_alt 
              input.input-text.address-postal(
                placeholder="새로운 우편번호"
                type="text"
                name="postalCode"
              )
              button.action.activated 주소찾기
              .msg-field 
                span.msg-text 
            .input-wrapper.address 
              input.input-text.address-default(
                type="text"
                placeholder="새로운 주소"
                name="essentialAddress"
              )
            .input-wrapper.address
              input.input-text.address-detail(
                type="text"
                placeholder="새로운 상세 주소"
                name="additionalAddress"
              )
          button.register-btn.btn 변경
        
          
    script(type="module")



