

doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 내 정보 관리 | 배민상회
    link(rel="stylesheet" href="/styles/common/globalstyle.css")
    style
      include ../welcome.css
  body
    main.welcome-main
      div.welcome-container
        div.essential
          h1.title-text 비밀번호를 다시 확인해 주세요.
          div.input-wrapper.pw
            input.input-text(
              placeholder="비밀번호"
              type="password"
              name="password"
              )
            div.check
             i.icon checkmark_alt_circle_fill
            div.msg-field 
              span.msg-text

        div.optional
          a.link(
            class="my-info"
            href="/welcome"
          ) 변경
          a.link(
            class="delete-account"
            href="/welcome"
          ) 탈퇴
          a.link(
            class="sign-out"
            href="/welcome"
          ) 취소
        
          
    script(type="module")



